body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style: circle inside;
}

header > img {
    width: 100px;
}

ul li a{
    text-decoration: none;
    color: inherit;
}

html {
    background-color: antiquewhite;
}

.user_review{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

[type=radio], [type=submit],select>option{
    cursor: pointer;
    outline: none;
}

input:last-child:hover {
    background-color: gold;
}

h2#directions~ol > li:nth-child(2n) {
    background-color: lightgray;
}

h2 + .user_review {
    border-top: 1px solid black;
}

[type=radio] {
    -webkit-appearance: none;
    background-image: url(./stars.png);
    height: 30px;
    width: 30px;
    vertical-align: bottom;
}

[type=radio]:hover {
    background-position: 50% 50%;
}

[type=radio]:checked {
    background-position: 100% 100%;
}

